<div class="portfolio-section py-5">
  <div class="container">
    <h2 class="text-center mb-4">
      OUR <span class="color--theme">PORTFOLIO</span>
    </h2>
    <p class="text-center mb-4">
      Explore some of our recent projects and see what we’ve been working on.
    </p>

    <div class="row">
      <div class="col-md-4">
        <div class="portfolio-card">
          <img
            src="../../../assets/image/3.jpg"
            alt="Project 1"
            class="img-fluid"
          />
          <div class="portfolio-content p-3">
            <h4 class="portfolio-title">Project One</h4>
            <p class="portfolio-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
              velit laboriosam aliquam architecto ab quasi?
            </p>
            <a href="#" class="btn btn--color">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-card">
          <img
            src="../../../assets/image/2.jpg"
            alt="Project 2"
            class="img-fluid"
          />
          <div class="portfolio-content p-3">
            <h4 class="portfolio-title">Project Two</h4>
            <p class="portfolio-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit
              nam corporis ipsa modi tempore tenetur!.
            </p>
            <a href="#" class="btn btn--color">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-card">
          <img
            src="../../../assets/image/1.jpg"
            alt="Project 3"
            class="img-fluid"
          />
          <div class="portfolio-content p-3">
            <h4 class="portfolio-title">Project Three</h4>
            <p class="portfolio-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
              non tempore libero deserunt, similique quia.
            </p>
            <a href="#" class="btn btn--color">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-card">
          <img
            src="../../../assets/image/3.jpg"
            alt="Project 4"
            class="img-fluid"
          />
          <div class="portfolio-content p-3">
            <h4 class="portfolio-title">Project Four</h4>
            <p class="portfolio-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga id
              labore deserunt ipsam rem quia.
            </p>
            <a href="" class="btn btn--color">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-card">
          <img
            src="../../../assets/image/1.jpg"
            alt="Project 5"
            class="img-fluid"
          />
          <div class="portfolio-content p-3">
            <h4 class="portfolio-title">Project Five</h4>
            <p class="portfolio-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
              voluptate suscipit provident veniam, officiis aliquid.
            </p>
            <a href="" class="btn btn--color">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-card">
          <img
            src="../../../assets/image/1.jpg"
            alt="Project 6"
            class="img-fluid"
          />
          <div class="portfolio-content p-3">
            <h4 class="portfolio-title">Project Six</h4>
            <p class="portfolio-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas
              eaque, ipsum distinctio exercitationem obcaecati amet!
            </p>
            <a href="" class="btn btn--color">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-card">
          <img src="../../../assets/image/2.jpg" alt="" class="img-fluid" />
          <div class="portfolio-content p-3">
            <h4 class="portfolio-title">Project Seven</h4>
            <p class="portfolio-description">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid
              nesciunt corporis, aspernatur voluptatem est deserunt.
            </p>
            <a href="" class="btn btn--color">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-card">
          <img src="../../../assets/image/1.jpg" alt="" class="img-fluid" />
          <div class="portfolio-content p-3">
            <h4 class="portfolio-title">Project Eight</h4>
            <p class="portfolio-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
              ducimus laborum incidunt rem veritatis quas!
            </p>
            <a href="" class="btn btn--color">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-card">
          <img src="../../../assets/image/2.jpg" alt="" class="img-fluid" />
          <div class="portfolio-content p-3">
            <h4 class="portfolio-title">Project Nine</h4>
            <p class="portfolio-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi id
              accusamus, reiciendis facilis exercitationem labore!
            </p>
            <a href="" class="btn btn--color">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-card">
          <img src="../../../assets/image/2.jpg" alt="" class="img-fluid" />
          <div class="portfolio-content p-3">
            <h4 class="portfolio-title">Project Ten</h4>
            <p class="portfolio-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Praesentium non expedita omnis assumenda quaerat. Molestias.
            </p>
            <a href="" class="btn btn--color">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-card">
          <img src="../../../assets/image/1.jpg" alt="" class="img-fluid" />
          <div class="portfolio-content p-3">
            <h4 class="portfolio-title">Project</h4>
            <p class="portfolio-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
              voluptates suscipit debitis? Ex, aut adipisci.
            </p>
            <a href="" class="btn btn--color">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-card">
          <img src="../../../assets/image/2.jpg" alt="" class="img-fluid" />
          <div class="portfolio-content p-3">
            <h4 class="portfolio-title">Project</h4>
            <p class="portfolio-description">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis
              maiores suscipit soluta voluptatum mollitia optio.
            </p>
            <a href="" class="btn btn--color">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-card">
          <img src="../../../assets/image/2.jpg" alt="" class="img-fluid" />
          <div class="portfolio-content p-3">
            <h4 class="portfolio-title">Project</h4>
            <p class="portfolio-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
              praesentium omnis veniam natus dicta esse!
            </p>
            <a href="" class="btn btn--color">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-card">
          <img src="../../../assets/image/2.jpg" alt="" class="img-fluid" />
          <div class="portfolio-content p-3">
            <h4 class="portfolio-title">Project</h4>
            <p class="portfolio-description">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Exercitationem perferendis quidem nostrum rerum odio obcaecati?
            </p>
            <a href="" class="btn btn--color">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-card">
          <img src="../../../assets/image/2.jpg" alt="" class="img-fluid" />
          <div class="portfolio-content p-3">
            <h4 class="portfolio-title">Project</h4>
            <p class="portfolio-description">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem
              consectetur optio soluta, nesciunt dolore asperiores.
            </p>
            <a href="" class="btn btn--color">View Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
