<div class="career-section py-5">
    <div class="container">
      <h2 class="text-center mb-4">Careers</h2>
      <p class="text-center mb-4">Join our team and be a part of something great! We are always looking for talented individuals to join our team.</p>
  
      <div class="row">
        <div class="col-md-4">
          <div class="job-card bg-light p-4 mb-4">
            <h4 class="job-title">Software Engineer</h4>
            <p class="job-description">Responsible for developing and maintaining our web applications.</p>
            <a href="#" class="btn btn--color">Apply Now</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="job-card bg-light p-4 mb-4">
            <h4 class="job-title">UX Designer</h4>
            <p class="job-description">Design intuitive and engaging user experiences for our products.</p>
            <a href="#" class="btn btn--color">Apply Now</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="job-card bg-light p-4 mb-4">
            <h4 class="job-title">Project Manager</h4>
            <p class="job-description">Oversee and coordinate projects to ensure successful delivery.</p>
            <a href="#" class="btn btn--color">Apply Now</a>
          </div>
        </div>
        <div class="col-md-4">
            <div class="job-card bg-light p-4 mb-4">
                <h4 class="job-title">Bidder</h4>
                <p class="job-description">The ideal candidate will be responsible for online bidding on Upwork, Guru, Freelancer, etc. You will generate new business relationships, identify business opportunities, and close business deals for a wide range of Digital Services. You need to analyze business Challenges, identify problems and be able to propose solutions for the same. The candidate must have experience with Lead generator, Calling, Drafting of proposals, Client interaction, Negotiation, Follow ups and also coordination with the technical team.</p>
                <a href="" class="btn btn--color">Apply now</a>
            </div>
        </div>
      </div>
    </div>
  </div>
  