.header-section .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-item {
    position: relative; 
    height: 600px;
  }
  
  .carousel-item img {
    /* object-fit: cover; */
    height: 100%;
    width: 100%;
    z-index: 1; 
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousel-item.active img {
    opacity: 1;
  }
  
  .carousel-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.64); 
    /* z-index: 2;  */
  }
  