<div class="container">
    <h2 class="text-center my-4">Information of <span class="color--theme">Board Meeting</span></h2>
    <p>
        This page provides detailed information regading the upcoming board Meeting, including the agenda, particapatns,
        and other essential details.
    </p>

    <div class="card mb-3">
        <div class="card-header">
            <h3>Meeting <span class="color--theme">Details</span></h3>
        </div>
        <div class="card-body">
            <p><strong>Date:</strong>September 19,2024</p>
            <p><strong>Time:</strong>12:00pm to 4:00pm</p>
            <p><strong>Location:</strong>Conference Room</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <h3>Meeting <span class="color--theme">Agenda</span></h3>
        </div>
        <div class="card-body">
            <ul>
                <li>Review of the previous meeting minutes.</li>
                <li>Approval of the financial statements for the last quarter.</li>
                <li>Discussion on the new project proposals and budget allocation.</li>
                <li>Update on compliance and regulatory matters.</li>
                <li>Any other business with the permission of the Chair.</li>
            </ul>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <h3>List of <span class="color--theme">Participants</span></h3>
        </div>
        <div class="card-body">
            <ul>
                <li>Mr. John Deo - Chairman</li>
                <li>Ms. Jane Smith - SEO</li>
                <li>Mr. Robert Brown - CFO</li>
                <li>Ms. Emily White - Director</li>
                <li>Mr. Michael Johnson - Director</li>
            </ul>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <h3>Additional <span class="color--theme">Notes</span></h3>
        </div>
        <div class="card-body">
            <p>
                All Participants are requested to confirm their attendance by September 30,2024.
                Please review the agenda item and be prepared to discuss then in detail during the meeting.
            </p>
            <p>
                If there are any documents or reports that need to presented, kindly ensure that they are submitted to
                Secretary's office by October 2, 2024.
            </p>
        </div>
    </div>
</div>