h2 {
    font-weight: bold;
  }
  
  .text-warning {
    color: #ffc107;
  }
  
  .card {
    border: none;
    border-radius: 0;
  }
  
  .card-body {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-text {
    font-size: 14px;
  }
  
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
  }
  