<div class="top-bar bg-dark text-white">
  <div class="container d-flex justify-content-between">
    <span
      ><i class="fa fa-phone"></i><a href="tel:022 40068190">022 40068190</a>
    </span>
    <span
      ><i class="fa fa-envelope"></i
      ><a href="lakhveer@gmail.com">lakhveer&#64;gmail.com</a>
    </span>
  </div>
</div>

<!-- <div class="top-bar bg-dark text-white py-2">
    <div class="container d-flex justify-content-between">
      <span>Call Us:<i class="fa fa-phone"></i>  0172-4102716</span>
      <span> Email Us:<i class="fa fa-envelope"></i> info&#64;squadminds.com</span>
    </div>
  </div> -->
