<div class="login-container">
    <div class="login-box">
      <h2>Login</h2>
      <form>
        <div class="input-group">
          <label for="username">Username</label>
          <input type="text" id="username" placeholder="Type your username" />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Type your password" />
        </div>
        <div class="forgot-password">
          <a href="#">Forgot password?</a>
        </div>
        <button type="submit" class="btn--color">Login</button>
        <div class="social-login">
          <p>Or Sign Up Using</p>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google"></i></a>
          </div>
        </div>
        <div class="sign-up">
          <p>Or Sign Up Using <a href="#">Sign Up</a></p>
        </div>
      </form>
    </div>
  </div>
  