<div class="directors-section">
    <div class="container text-center">
        <h2 class="mb-5">MEET OUR <span class="color--theme">DIRECTORS</span> </h2>
        <div class="row">
            <div class="col-md-3">
                <div class="director-card">
                    <div class="avatar">
                        <img src="../../../assets/image/images.png" alt="Veer">
                    </div>
                    <h4>Veer</h4>
                    <p>Director</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="director-card">
                    <div class="avatar">
                        <img src="../../../assets/image/images.png" alt="Barinder Singh">
                    </div>
                    <h4>Barinder Singh</h4>
                    <p>Member</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="director-card">
                    <div class="avatar">
                        <img src="../../../assets/image/images.png" alt="Lovepreet">
                    </div>
                    <h4>Lovepreet</h4>
                    <p>Member</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="director-card">
                    <div class="avatar">
                        <img src="../../../assets/image/images.png" alt="Rahul">
                    </div>
                    <h4>Rahul</h4>
                    <p>Member</p>
                </div>
            </div>
        </div>
    </div>
</div>
