.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #151728;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .dashboard {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: #1e2030;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}

.card h3 {

  font-size: 18px;
  color: #fff !important;
}

.card .amount {
  font-size: 32px;
  margin: 10px 0;
  color: #fff;
}
